/* The properties in * should reset the page in each browser to render the exact same way*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* This defines rem */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.container, form {
    display: flex;
    flex-direction: column;
}

.container {
    align-content: center;
    align-items: center;
    margin: 5rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

form > div {
    padding: .5rem 0;
}

label {
    font-size: 1.4rem;
}

.input-box {
    margin-left: 1.5rem;
    padding-left: .5rem;
    width: 18rem;
}

#new-password {
    margin-left: 3.1rem;
}


button {
    margin-top: 1rem;
}